# Genomic locations of TF-TF pairs

In this notebook, we will go over how to get the locations of two TFs co-occurring. We will start by loading a CombObj from a previous notebook:

In [1]:
import tfcomb
C = tfcomb.CombObj().from_pickle("../data/GM12878_motifs.pkl")

We can see that this Object 'C' is already filled with .TFBS positions:

In [2]:
C.TFBS[:10]

[chr4	124338	124349	PBX3	9.04583	-,
 chr4	124338	124349	PKNOX1	9.44416	-,
 chr4	124339	124349	PBX1	9.11317	-,
 chr4	124381	124392	PKNOX1	9.92456	-,
 chr4	124382	124392	PBX1	9.97382	-,
 chr4	124391	124405	TFAP2C	10.09146	+,
 chr4	124506	124523	ZNF418	9.61641	+,
 chr4	124598	124616	RARG	10.39778	-,
 chr4	124683	124698	ESR2	10.69936	-,
 chr4	124729	124741	ZFP42	9.95335	-]

## Getting locations for a selected TF-TF pair

We choose the highest ranking TF pair from the .rules:

In [3]:
TF1, TF2 = C.rules.iloc[0, [0,1]]
TF1, TF2

('SP2', 'SP3')

We can now apply _get_pair_locations()_ to get the locations of the TF-TF pairs

In [4]:
pairs = C.get_pair_locations(TF1, TF2)

In [5]:
pairs[:10]

[<TFBSPair | TFBS1: (chr4,338155,338177,SP2,9.83433,-) | TFBS2: (chr4,338196,338216,SP3,9.40952,-) | distance: 19 | orientation: same >,
 <TFBSPair | TFBS1: (chr4,338155,338177,SP2,9.83433,-) | TFBS2: (chr4,338274,338294,SP3,10.11803,+) | distance: 97 | orientation: opposite >,
 <TFBSPair | TFBS1: (chr4,338195,338217,SP2,13.11992,-) | TFBS2: (chr4,338274,338294,SP3,10.11803,+) | distance: 57 | orientation: opposite >,
 <TFBSPair | TFBS1: (chr4,532868,532890,SP2,13.86684,+) | TFBS2: (chr4,532890,532910,SP3,9.6596,+) | distance: 0 | orientation: same >,
 <TFBSPair | TFBS1: (chr4,532868,532890,SP2,13.86684,+) | TFBS2: (chr4,532953,532973,SP3,11.71306,+) | distance: 63 | orientation: same >,
 <TFBSPair | TFBS1: (chr4,532868,532890,SP2,13.86684,+) | TFBS2: (chr4,532974,532994,SP3,9.6596,+) | distance: 84 | orientation: same >,
 <TFBSPair | TFBS1: (chr4,532869,532889,SP3,12.87845,+) | TFBS2: (chr4,532952,532974,SP2,11.89012,+) | distance: 63 | orientation: same >,
 <TFBSPair | TFBS1: (chr4,532890,532910,SP3,9.6596,+) | TFBS2: (chr4,532952,532974,SP2,11.89012,+) | distance: 42 | orientation: same >,
 <TFBSPair | TFBS1: (chr4,532952,532974,SP2,11.89012,+) | TFBS2: (chr4,532974,532994,SP3,9.6596,+) | distance: 0 | orientation: same >,
 <TFBSPair | TFBS1: (chr4,532952,532974,SP2,11.89012,+) | TFBS2: (chr4,533037,533057,SP3,11.1757,+) | distance: 63 | orientation: same >]

We can write these locations to a file:

In [6]:
pairs.write_bed("TFBS_pair_positions.bed", fmt="bed")

#show the content of file
import pandas as pd
pd.read_csv("TFBS_pair_positions.bed", sep="\t", header=None, nrows=5)

      0       1       2    3  4  5
0  chr4  338177  338177  SP2  .  -
1  chr4  338216  338216  SP3  .  -
2  chr4  338177  338177  SP2  .  -
3  chr4  338294  338294  SP3  .  +
4  chr4  338217  338217  SP2  .  -

The pairs can also be written out as 'bedpe' format, which contains the positions of both sites:

In [7]:
pairs.write_bed("TFBS_pair_positions.bedpe", fmt="bedpe")

pd.read_csv("TFBS_pair_positions.bedpe", sep="\t", header=None, nrows=5)

      0       1       2     3       4       5        6   7  8  9
0  chr4  338155  338177  chr4  338196  338216  SP2-SP3  19  -  -
1  chr4  338155  338177  chr4  338274  338294  SP2-SP3  97  -  +
2  chr4  338195  338217  chr4  338274  338294  SP2-SP3  57  -  +
3  chr4  532868  532890  chr4  532890  532910  SP2-SP3   0  +  +
4  chr4  532868  532890  chr4  532953  532973  SP2-SP3  63  +  +